#main-content {
  --pst-font-size-h0: 30px;
  --pst-font-size-h1: 24px;
  --pst-font-size-h2: 20px;
  --pst-font-size-h3: 16px;
  --pst-font-size-h4: 14px; 
  --pst-font-size-h5: 10px;
  --pst-font-size-h6: 10px;
}

#main-content img {
  max-height: 350px;
  margin: 0 auto;
  display: block;
}

#main-content p {
  text-align: left;
}

main.bd-content #main-content img.align-center {
  max-height: unset;
}