#main-content {
  --pst-font-size-h1: 30px;
  --pst-font-size-h2: 26px;
  --pst-font-size-h3: 20px;
  --pst-font-size-h4: 16px;
  --pst-font-size-h5: 14px;
  --pst-font-size-h6: 12px;
}

#main-content img {
  max-height: 350px;
}

#main-content p {
  /* text-align: justify; */
  text-align: left;
}
